@media (max-width: 1440px) {
  .container,
  .footer {
    max-width: 1440px;
  }

  .pro-descr {
    max-width: 70%;
  }
}

@media (max-width: 1280px) {
  .container,
  .footer {
    max-width: 1280px;
    }
}

@media (max-width: 1024px) {
  .container,
  .footer {
    max-width: 1024px;
  }

  .header-title {
    font-size: 25px;
  }

  .header {
    position: relative;
  }

  .logo:focus {
    padding: 5px;
    border: 1px solid var(--great);
    border-radius: 5px;
  }

  .logo:hover {
    padding: 5px;
    border: 1px solid #f8c2b4;
    border-radius: 5px;
  }

  .header-title {
    white-space: nowrap;
    font-size: var(--out);
  }

  .bar-list {
    position: absolute;
    top: -25px;
    right: 100px;
    padding: 15px;
    min-width: 300px;
    width: 400px;
    -webkit-box-shadow: 3px 3px 5px #000;
            box-shadow: 3px 3px 5px #000;
    box-shadow: 3px 3px 5px #000;
    background-color: var(--white);
    border-radius: 5px;
  }

  .nav-bar {
    visibility: hidden;
    position: relative;
    -webkit-transition: visibility .5s ease-in-out;
    -o-transition: visibility .5s ease-in-out;
    transition: visibility .5s ease-in-out;
  }

  .bar-item:not(:last-child) {
    margin-right: 25px;
    padding-right: 10px;
    border-right: 1px solid var(--pinky);
  } 

  .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
  }

  .bar-active {
    visibility: visible;
    -webkit-transition: visibility .5s ease-in-out;
    -o-transition: visibility .5s ease-in-out;
    transition: visibility .5s ease-in-out;
  }

  iframe {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .container,
  .footer {
    max-width: 768px;
  }

  header {
    width: 100%;
    min-height: 50px;
  }

  .header {
    padding: 5px 30px;
  }

  main {
    padding: 0 30px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .header-title {
    white-space: nowrap;
    font-size: var(--out);
  }

  .swiper-slide {
    min-height: 400px;
  }

  .swiper-wrapper {
    min-height: inherit;
  }

  .swiper-wrapper .one-slide {
    background-image: url('../img/nathan-dumlao-unsplash-576.webp');
  }

  .swiper-wrapper .two-slide {
    background-image: url('../img/drew-coffman-unsplash-576.webp');
  }

  .swiper-wrapper .three-slide {
    background-image: url('../img/toa-heftiba-unsplash-576.webp');
  }

  .swiper-button-next,
  .swiper-button-prev {
    transform: scale(0.5);
}

  .swiper-title {
    font-size: var(--out);
  }

  .swiper-descr {
    font-size: 15px;
  }

  iframe {
    width: 250px;
    height: 250px;
  }
  
  .footer {
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }

  .bar-list {
    right: 0;
  }

  #from-youtube .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
  }

  iframe:first-of-type {
    margin-right: 0;
    margin-bottom: var(--out);
  }

  .footer {
    padding: 0 20px;
  }

  .links-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 30px;
  }

  .links {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  section {
    margin-bottom: 50px;
  }

  .container,
  .footer {
    max-width: 480px;
  }

  header {
    width: 100%;
    min-height: 40px;
  }
   
  .header {
    padding: 10px 15px;
  }

  main {
    padding: 0 15px;
  }

  .nav-link:hover {
    outline: transparent;
  }

  .bar-list {
    top: -20px;
    left: -100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    min-width: 120px;
    width: 125px;
  }

  .bar-item:not(:last-child) {
    margin-bottom: 15px;
    border-right: transparent;
    border-bottom: 1px solid rgba(172, 89, 69, 0.5);
  }

  .swiper-slide {
    min-height: 250px;
  }

  .swiper-descr {
    width: 70%;
  }

  .list-title {
    max-width: 300px;
    font-size: 20px;
  }

  .pro-descr {
    font-size: 14px;
  }

  .quality:nth-child(2)
  .icon {
    top: -20px;
  }

  .sweet-min-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    border: transparent;
    color: var(--white);
  }

  .sweet-list {
    display: block;
    width: 100%;
    text-align: left;
  }

  .sweet-item {
    padding: 0;
    width: 100%;
    background: transparent;
  }

  .sweet-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .sweet-item-visible .sweet-text {
    top: 0;
    right: 0;
    padding-left: 5px;
    max-width: 45%;
  }

  .sweet-item-visible .sweet-text .sweet-min-title {
    max-width: 90%;
  }
  .sweet-item-visible .sweet-text .description {
    max-width: 85%;
  }

  .img-cake {
    border: 3px solid rgba(175, 168, 165, 0.7);
  }

  .sweet-text {
    padding-left: 10px;
    max-width: 80%;
  }

  .description {
    font-size: 14px;
  }

  .price {
    font-style: italic;
    right: 0;
    bottom: 0;
    padding-left: 0;
    border-bottom: 1px solid var(--white);
  }

  .btn-menu {
    text-align: left;
  }
}

@media (max-width: 320px) {
  .container,
  .footer {
    max-width: 320px;
  }
  
  .swiper-wrapper .one-slide {
    background-image: url('../img/nathan-dumlao-unsplash-250.webp');
  }

  .swiper-wrapper .two-slide {
    background-image: url('../img/drew-coffman-unsplash-250.webp');
  }

  .swiper-wrapper .three-slide {
    background-image: url('../img/toa-heftiba-unsplash-250.webp');
  }
}