/* general */

:root {
  --bigger: 60px;
  --out: 20px;
  --large: 30px;
  --middle: 15px;
  --great: #333;
  --light: #bbb7b6;
  --white: #fff;
  --pinky: #ac5945;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Nanum Myeongjo', serif;
  background: #afa7a4 no-repeat;
  background-image: url('../img/holly-stratton-unsplash-cup.webp');
  background-size: cover;
  overflow-x: hidden;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: var(--out);
}

p {
  margin: 0;
  margin-bottom: var(--out);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

.container {
  max-width: 100%;
}

header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  margin-bottom: var(--large);
  width: 115%;
  min-height: 50px;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 15px 1px #f8c2b4;
          box-shadow: 0 1px 15px 1px #f8c2b4;
  z-index: 1000;
}

.header {
  padding: 0 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
}

.logo {
  margin-right: var(--out);
}

.header-title {
  margin-bottom: 0;
  max-width: 500px;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 40px;
  min-height: 20px;
  letter-spacing: 2px;
  color: #807a7a;
}

.nav-bar {
  margin-left: auto;
  width: 750px;
}

.bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bar-item {
  min-height: var(--out);
}

.bar-item:not(:last-child) {
  margin-right: 35px;
}

.nav-link {
  font-weight: 600;
  font-size: var(--out);
  color: var(--pinky);
  outline: none;
}

.nav-link:hover {
  outline: 2px solid #f8c2b4;
  outline-offset: 5px;
  border-radius: 10px;
}

main  {
  margin-top: 100px;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  max-width: 1200px;
}

/* first section */

#about {
  margin-bottom: var(--bigger);
}

.swiper {
  width: 70rem;
  height:  55rem;
  margin-top: -50px;
  border-radius: 15px;
}

.swiper-wrapper {
  min-height: 580px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-wrapper .one-slide {
  background-image: url('../img/nathan-dumlao-unsplash.webp');
}

.swiper-wrapper .two-slide {
  background-image: url('../img/drew-coffman-unsplash.webp');
  background-size: cover;
}

.swiper-wrapper .three-slide {
  background-image: url('../img/toa-heftiba-unsplash.webp');
  background-size: cover;
}

.swiper-slide .three-slide .swiper-title {
  color: var(--great);
  text-shadow: 3px 3px 3px var(--white);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  text-shadow: 3px 3px 5px #000;
}

.swiper-title,
.swiper-descr {
  padding-left: 60px;
}

.swiper-title {
  width: 50%;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
}

.swiper-descr {
  padding-right: 20%;
  width: 90%;
  min-height: 50px;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
}

/* 2nd section */

#products {
  margin-bottom: var(--bigger);
}

.product-list {
  margin-bottom: var(--large);
}

.list-title {
  margin-bottom: 15px;
  padding-left: 60px;
  min-height: var(--out);
  font-size: 30px;
  font-weight: 500;
}

.pro-descr,
.description {
  min-height: var(--out);
  font-size: var(--out);
  font-weight: 400;
}

.quality {
  position: relative;
  margin-bottom: 40px;
}

.icon {
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.quality:first-child .icon {
  background-image: url('../img/orange-pie50.png');
}

.quality:nth-child(2) .icon {
  background-image: url('../img/nuts-pie50.png');
}

.quality:nth-child(3) .icon{
  background-image: url('../img/rawsberry-pie50.png');
}

/* 3th section */

#menu {
  margin-bottom: var(--bigger);
}

#menu .container {
  margin-bottom: var(--large);
}

.sweet-title {
  min-height: var(--out);
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--great);
}

.sweet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}

.sweet-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 30px;
  padding: var(--out);
  width: 450px;
  min-height: 180px;
  margin-bottom: 30px;
  background: rgba(175, 168, 165, 0.7);
  border-radius: 10px;
}

.sweet-text {
  padding-left: 20px;
  width: 250px;
  min-height: 100px;
}

.img-cake {
  width: 180px;
  height: 170px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.sweet-min-title {
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-height: var(--out);
  font-size: 25px;
  font-weight: 500;
  border-bottom: 1px solid #000;
}

.sweet-item:nth-child(n+5) {
  display: none;
  min-height: 200px;
}

.sweet-item.sweet-item-visible {
  display: block;
  position: relative;
}

.sweet-item-visible .sweet-text {
  position: absolute;
  top: var(--out);
  left: 190px;
}

.price {
  position: absolute;
  display: inline-block;
  bottom: 5px;
  right: 5%;
  padding-left: 10px;
  min-height: var(--out);
  font-size: 15px;
  color: var(--white);
}

.btn {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-menu {
  position: relative;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
  letter-spacing: 2px;
  color: var(--white);
  background-color: transparent;
  border-style: none;
}

.btn-menu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.btn-menu:hover::after {
  opacity: 1;
}

/* 4th section */

#from-youtube {
  margin-bottom: var(--bigger);
}

#from-youtube .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  justify-content: center;
}

iframe {
  margin-bottom: var(--bigger);
  width: 450px;
  height: 450px;
  border: none;
  border-radius: 10px;
}

iframe:first-of-type {
  margin-right: 25px;
}

footer {
  margin: 0 auto;
}

.footer {
  width: 100%;
  padding: 0 70px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.min {
  display: none;
}

.links-list {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.links-item {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  flex-direction: column;
}

.links-item:not(:last-child) {
  margin-right: var(--out);
}

.links {
  position: relative;
  margin-bottom: 15px;
  color: var(--white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.links::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.links:hover::after {
  opacity: 1;
}

.links::before {
  content: "";
  position: absolute;
  left: -30px;
  bottom: -2px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}

.links-item:first-child .links:first-child::before {
  background-image: url('../img/freepik-logo-25.png');
}

.links-item:first-child .links:nth-child(2)::before {
  background-image: url('../img/instagram-25.png');
}

.links-item:nth-child(2) .links:first-child::before {
  background-image: url('../img/twitter-25.png');
}

.links-item:nth-child(2) .links:nth-child(2)::before {
  background-image: url('../img/facebook-25.png');
}

.links-item:nth-child(3) .links:first-child::before {
  background-image: url('../img/footer-orange-25.png');
}

.links-item:nth-child(3) .links:nth-child(2)::before {
  background-image: url('../img/footer-cake-25.png');
}

